@font-face {
  font-family: "iconfont"; /* Project id 4045984 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1721820535791') format('woff2'),
       url('iconfont.woff?t=1721820535791') format('woff'),
       url('iconfont.ttf?t=1721820535791') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinzeng:before {
  content: "\e600";
}

.icon-xinzeng-copy:before {
  content: "\e875";
}

.icon-renwu:before {
  content: "\e6a6";
}

.icon-beiwanglu-copy:before {
  content: "\e701";
}

.icon-guifan-copy:before {
  content: "\e702";
}

.icon-shezhi1-copy:before {
  content: "\e703";
}

.icon-guifan:before {
  content: "\e700";
}

.icon-shezhi1:before {
  content: "\e601";
}

.icon-lianxiren:before {
  content: "\e602";
}

.icon-zhinanzhen:before {
  content: "\e603";
}

.icon-shizhong:before {
  content: "\e604";
}

.icon-zhuti:before {
  content: "\e605";
}

.icon-beiwanglu:before {
  content: "\e606";
}

.icon-rili:before {
  content: "\e607";
}

.icon-wanjijiqiao:before {
  content: "\e608";
}

